packages:
  yum:
    certbot: []
    mod_ssl: []
    nginx-mod-stream: []

files:  
  /home/ec2-user/setup.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      export EMAIL=$(/opt/elasticbeanstalk/bin/get-config environment -k EMAIL)
      export DOMAIN=$(/opt/elasticbeanstalk/bin/get-config environment -k DOMAIN)
      FOLDER=/etc/letsencrypt/live/$(ls /etc/letsencrypt/live/ -1 | tail -n 1)
      cp -v /home/webapp/privkey.pem $FOLDER/privkey.pem
      cp -v /home/webapp/fullchain.pem $FOLDER/fullchain.pem
      service nginx stop
      sudo certbot certonly --non-interactive --email $EMAIL --agree-tos --standalone --domains $DOMAIN
      service nginx start
      cp -v $FOLDER/fullchain.pem /var/app/staging/setup/fullchain.pem
      cp -v $FOLDER/privkey.pem /var/app/staging/setup/privkey.pem
      cp -v $FOLDER/fullchain.pem /home/webapp/fullchain.pem
      cp -v $FOLDER/privkey.pem /home/webapp/privkey.pem

container_commands:
  01_getcert:
    command: /home/ec2-user/setup.sh
    ignoreErrors: true
