packages:
  yum:
    gcc-c++: []

sources:
  /var/odoo: https://github.com/odoo/odoo/archive/refs/heads/16.0.zip
  /var/l10n-portugal: https://github.com/OCA/l10n-portugal/archive/refs/heads/16.0.zip
  /var/fb-connector: https://github.com/Vauxoo/fb-connector/archive/refs/heads/15.0.zip
  /var/field-service: https://github.com/OCA/field-service/archive/refs/heads/16.0.zip
  /var/geospatial: https://github.com/OCA/geospatial/archive/refs/heads/16.0.zip

container_commands:
  1_install_wkhtmltopdf:
    command: yum -y install fontconfig libXrender libXext xorg-x11-fonts-Type1 xorg-x11-fonts-75dpi freetype libpng zlib libjpeg-turbo openssl icu
    ignoreErrors: true

  2_install_wkhtmltopdf:
    # see: https://wkhtmltopdf.org/downloads.html for updates
    command: wget https://github.com/wkhtmltopdf/wkhtmltopdf/releases/download/0.12.4/wkhtmltox-0.12.4_linux-generic-amd64.tar.xz --dns-timeout=5 --connect-timeout=5 --no-check-certificate
    test: test ! -f .wkhtmltopdf

  3_install_wkhtmltopdf:
    command: tar -xJf wkhtmltox-0.12.4_linux-generic-amd64.tar.xz
    test: test ! -f .wkhtmltopdf

  4_install_wkhtmltopdf:
    command: cp wkhtmltox/bin/wkhtmltopdf /usr/local/bin/wkhtmltopdf
    test: test ! -f .wkhtmltopdf

  5_install_wkhtmltopdf:
    command: cp wkhtmltox/bin/wkhtmltoimage /usr/local/bin/wkhtmltoimage
    test: test ! -f .wkhtmltopdf

  6_install_wkhtmltopdf:
    command: touch .wkhtmltopdf

  7_install_odoo:
    command: |
      chmod -R 777 /var/odoo /var/l10n-portugal /var/fb-connector /var/field-service
      cp -r /var/odoo/odoo-16.0/* .
      cp -r /var/l10n-portugal/l10n-portugal-16.0/* ./addons
      cp -r /var/fb-connector/fb-connector-15.0/* ./addons
      cp -r /var/field-service/field-service-16.0/* ./addons
      cp -r /var/geospatial/geospatial-13.0/* ./addons

  8_config:
    command:
      echo "admin_passwd=$MASTER_PASS" >> ./odoo.conf

